<section id="header_section_wrapper" class="header_section_wrapper">
    <div class="container">
        <div class="header-section">
            <div class="row">
                <div class="col-md-4">
                    <div class="left_section">
                        <!-- Date -->
                        <span class="time">
                            <async-observable-pipe></async-observable-pipe>
                        </span>
                        <!-- Time -->
                        <app-social></app-social>
                        <!-- Top Social Section -->
                    </div>
                    <!-- Left Header Section -->
                </div>
                <div class="col-md-4">
                    <div class="logo">
                        <a href="index.html">
                            <img src="../assets/img/logo.png" alt="Tech NewsLogo">
                        </a>
                    </div>
                    <!-- Logo Section -->
                </div>
                <div class="col-md-4">
                    <div class="right_section">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#">Giriş Yap</a>
                            </li>
                            <li>
                                <a href="#">Kayıt Ol</a>
                            </li>
                        </ul>
                        <!-- Language Section -->
                        <app-search></app-search>
                    </div>
                    <!-- Right Header Section -->
                </div>
            </div>
        </div>
        <!-- Header Section -->
        <app-menu></app-menu>
    </div>
    <!-- .container -->
</section>
<!-- header_section_wrapper -->