<app-slider></app-slider>
<section id="category_section" class="category_section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <category></category>
            </div>
            <!-- Left Section -->
            <div class="col-md-4">
                <popular-news></popular-news>
                <!-- Popular News -->
                <div class="widget hidden-xs m30">
                    <img class="img-responsive adv_img" src="../assets/img/right_add1.jpg" alt="add_one">
                    <img class="img-responsive adv_img" src="../assets/img/right_add2.jpg" alt="add_one">
                    <img class="img-responsive adv_img" src="../assets/img/right_add3.jpg" alt="add_one">
                    <img class="img-responsive adv_img" src="../assets/img/right_add4.jpg" alt="add_one">
                </div>
                <!-- Advertisement -->
                <div class="widget hidden-xs m30">
                    <img class="img-responsive widget_img" src="../assets/img/right_add5.jpg" alt="add_one">
                </div>
                <!-- Advertisement -->
                <reviews></reviews>
                <!-- Reviews News -->
                <div class="widget hidden-xs m30">
                    <img class="img-responsive widget_img" src="../assets/img/right_add6.jpg" alt="add_one">
                </div>
                <!-- Advertisement -->
                <mostcommented></mostcommented>
                <!-- Most Commented News -->
                <div class="widget hidden-xs m30">
                    <img class="img-responsive add_img" src="../assets/img/right_add7.jpg" alt="add_one">
                    <img class="img-responsive add_img" src="../assets/img/right_add7.jpg" alt="add_one">
                    <img class="img-responsive add_img" src="../assets/img/right_add7.jpg" alt="add_one">
                    <img class="img-responsive add_img" src="../assets/img/right_add7.jpg" alt="add_one">
                </div>
                <!--Advertisement -->
                <div class="widget m30">
                    <div class="widget_title widget_black">
                        <h2>
                            <a href="#">Readers Corner</a>
                        </h2>
                    </div>
                    <div class="widget_body">
                        <img class="img-responsive left" src="../assets/img/reader.jpg" alt="Generic placeholder image">
                        <p>
                            Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                            procrastinate B2C users after installed base benefits. Dramatically visualize
                            customer directed convergence without
                        </p>
                        <p>
                            Collaboratively administrate empowered markets via plug-and-play networks. Dynamically
                            procrastinate B2C users after installed base benefits. Dramatically visualize
                            customer directed convergence without revolutionary ROI.
                        </p>
                        <button class="btn pink">Read more</button>
                    </div>
                </div>
                <!--  Readers Corner News -->
                <div class="widget hidden-xs m30">
                    <img class="img-responsive widget_img" src="../assets/img/podcast.jpg" alt="add_one">
                </div>
                <!--Advertisement-->
            </div>
            <!-- Right Section -->

        </div>
        <!-- Row -->
    </div>
    <!-- Container -->
</section>
<!-- Category News Section -->
