<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-3">
      <app-sidebar [header]="'Haberler'"></app-sidebar>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <app-breadcrumb [navData]="[
        {'url':'/pages/dashboard','name':'Anasayfa'},
        {'url':'/pages/news/','name':'Haberler'},
        {'url':'/pages/news/add','name':'Haber Ekle'}
      ]"></app-breadcrumb>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card card-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <div class="form-group col-md-12">
                    <label for="inputNewsName">Haber Adı</label>
                    <input type="text" class="form-control" #Name placeholder="Haber Adı">
                  </div>
                  <div class="form-group col-md-12">
                    <label for="inputNewsLabel">Haber Başlığı</label>
                    <input type="text" class="form-control" #Label placeholder="Haber Başlığı">
                  </div>
                  <div class="form-group col-md-12">
                    <label for="inputNewsLabel">Kategori Seç</label>
                    <select #sel>
                      <option *ngFor="let c of cats;first as isFirst" [value]="c.id" [selected]="isFirst">{{c.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <div class="form-group col-md-12">
                    <input class="hide" id="input-file" multiple type="file" (change)="readImgUrl($event)" [hidden]="true" #img class="md-button md-raised md-primary"
                    />
                    <label for="input-file" id="imgLabel" class="md-button md-raised md-primary block">
                      <img id="PriviewImg" [src]="ImgUrl" *ngIf="ImgUrl" class="img-thumbnail">
                      <i class="fa fa-picture-o" id="priview" aria-hidden="true" *ngIf="!ImgUrl"></i>
                    </label>
                  </div>
                </div>
                <div class="form-group col-md-8 ">
                  <app-ckeditor #ckeditor></app-ckeditor>
                </div>
              </div>
              <br>
              <!-- Grid row -->
              <button type="submit " class="btn btn-primary btn-md" (click)="SaveNew(ckeditor.value,sel.value,Label.value,Name.value)">Kaydet</button>
            </form>
            <!-- Extended default form grid -->


          </div>
        </div>
      </div>
    </div>
  </div>
</div>